 *{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.animation-holder{
    width: 100%;
    height: 100vh;
    background: url(../img/sky.jpg);
    background-size: cover;
}
@keyframes road{
    100%{
       transform: translateX(-3500px); 
    }
}
.road{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500%;
    height: 200px;
    background: url(../img/road.jpg);
    animation: road 5s linear infinite;
}

.city {
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 500%;
    height: 250px;
    background: url(../image/city.png);
    animation: city 10s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-3400px);
    }
}